@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

.radical {
  background-color: darkblue;
  background-image: url("background-piano.png");
  color: pink;
  font-size: "32px";
}

.backset {
  background: black;
  width: "1000px";
  height: "500px";
}

.keySet {
  display: flex;
  z-index: 1;
  background-color: white;
  width: 17.6px;
  height: 40px;
  transform: translate(3px, -50px);
}

.keyAlign {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

/* https://www.w3schools.com/cssref/func_linear-gradient.asp */
/* https://css-tricks.com/snippets/css/gradient-text/*/
.titleCustom {
  font-family: 'Audiowide', cursive;
  font-size: 32px;
  text-align: center;
  background: -webkit-linear-gradient(#b3e6ff, #0099e6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menuButtons{
  display:flex;
  color: black;
  font-family: 'Audiowide', cursive;
  font-size: 12px;
  background-color: lightblue;
}

.menuButtons:hover{
  background-color: rgb(255, 77, 255);
}

.buttonAlign{
  display:flex;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
  justify-content: space-between;
}

/* https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_buttons_animate3 */
.keySet:active{
  background-color: rgb(179, 0, 179);
}

.moviebox{
  width:600px;
  height:500px;
}

#myVideo {
  position: fixed;
  z-index: -1;
  top:0;
  left:0;
  width:500px;
  height:500px;
  transform:translate(50px,0);
}
